
/*-- scss:defaults --*/


/*-- scss:rules --*/

.image-owner {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.5px;

}

.logo-alpha {
  color: #FFFFFF;
  font-weight: 700;  
  font-style: italic;
}

.logo-arrow {
  color: #FFFFFF;
  font-weight: 800;
  padding: 0 4px;
}

.logo-zero {
  color: #F36F4F;
  font-weight: 700;
}